{% extends "layouts/app.html.twig" %}

{% block title %}
    Home | {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

{% include "components/game-night.html.twig" with { 'id' : 'game-night-ticker' }%}

<main class="w-full flex items-center justify-center">
  <div class="w-11/12 max-w-350 text-text py-20 flex items-center justify-center flex-col gap-20">

    {# Hero Section #}
    <div class="w-full flex flex-col items-center justify-center">
      <div class="flex flex-col items-center gap-8 justify-center h-80 md:h-100">
        <p class="text-2xl/8 md:text-4xl/16 text-center">
          Welcome to the official<sup class="text-text/25">*</sup> website&nbsp;of&nbsp;the<br />
          <span class="text-secondary font-black uppercase text-4xl md:text-5xl lg:text-7xl">Grand&nbsp;Penguin Empire</span></p>
        <p class="text-xs text-center text-text/25">* It's not offical</p>
      </div>

      <div class="relative w-11/12 max-w-250 flex items-center justify-center">
        <a id="discord-button">Get a link to the discord</a>
        <p class="flex items-center justify-center h-full w-full top-0 left-0 absolute z-0">no...</p>
      </div>
    </div>

    {# Word from our sponsor #}
    <div class="flex flex-col py-24 items-center justify-start gap-4">
      <p class="text-text text-sm capitalize text-center w-full">A quick word from our sponsor</p>
      <div class="w-11/12 max-w-250 bg-text flex items-center justify-between px-8 py-4 rounded">
        <img alt="ooh eeh ahh ooh" src="public/img/cat_spin.webp" />

        <p class="text-bkg">ohh ee ee ah ee oh ee ah ee</p>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block scripts %}
    <script src="public/js/home.js" type="module"></script>
    {{ parent() }}
{% endblock %}
