<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Grand Penguin Empire{% endblock %}</title>
    <link rel="stylesheet" href="public/css/output.css" />
    {% endblock %}
</head>
<body class="bg-bkg">
    {% block header %}
        <header class="z-20 sticky top-0 w-full flex items-center justify-center py-6 bg-gradient-to-b from-bkg">
            <div class="w-11/12 max-w-350 flex items-center justify-between">
                <p class="text-3xl font-black text-text">Grand Penguin Empire</p>

                <nav class="flex justify-end items-center gap-4">
                </nav>
            </div>
        </header>
    {% endblock %}

    {% block content %}{% endblock %}

    <footer></footer>

    {% block scripts %}
        <script src="public/js/app.js" type="module"></script>
    {% endblock %}
</body>
</html>
