@import 'tailwindcss';

@theme {
    --color-text: hsl(266, 28%, 90%);
    --color-bkg: hsl(276, 14%, 7%);
    --color-primary: hsl(0, 67%, 24%);
    --color-secondary: hsl(44, 83%, 51%);
    --color-accent: hsl(314, 35%, 31%);
    --discord-blue: #7289da;
    --discord-purple: #4d33c2;
}

@keyframes TickerScroll {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(-80%);
  }
}

.ticker {
  transform: translateX(100%);
  animation-name: TickerScroll;
  animation-duration: 40s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

#discord-button {
  color: var(--color-text);
  text-transform: capitalize;
  border-radius: 10em;
  background: linear-gradient(90deg, var(--discord-blue), var(--discord-purple));
  padding: 1.5rem 2.5rem;
  font-size: 18pt;
  box-shadow: 0 0 0 #ffffff25;
  cursor: pointer;
  outline: 1px solid #ffffff90;
  transition: all ease-in-out 100ms;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #discord-button {
    padding: 1rem 2rem;
    font-size: 12pt;
  }
}
@media only screen and (max-width: 480px) {
  #discord-button {
    padding: .5rem 1.25rem;
    font-size: 12pt;
  }
}

#discord-button:hover {
  box-shadow: 0 0 8px 1px #ffffff25;
  outline: 1px solid #ffffffcc;
}
