{# Corrresponding JS Module "public/js/game-night.js" #}

<div id="{{ id }}" class="flex flex-col w-full h-fit overflow-hidden">
  <div class="bg-neutral-900 h-20 relative text-text text-xs flex items-center justify-center ">
    {# Left Fade #}
    <div class="z-20 absolute top-0 left-0 h-full w-20 bg-gradient-to-r from-bkg to-neutral-900/5"></div>

    {# Game Night Ticker #}
    <div class="ticker flex gap-8 items-center justify-start">
      {# The inside of this is generated via javascript #}
    </div>

    {# Right Fade #}
    <div class="z-20 absolute top-0 right-0 h-full w-20 bg-gradient-to-l from-bkg to-neutral-900/5"></div>
  </div>

  {# Current Game Tracking #}
  <div></div>
</div>
